html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    background-color: gold;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mapplot {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 10;         /* higher = above the map */

    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 6px;
    pointer-events: auto;   /* clickable */
}

#leaderboard {
    top: 20px;
    left: 20px;
}
#year {
    bottom: 20px;
    right: 20px;
}
#forecast {
    bottom: 20px;
    left: 20px;
}
#mapmode {
    top: 20px;
    right: 20px;
}