<html>
    <head>
        <title>Economic Dashboard</title>
        <link rel="stylesheet" href="static/styles.css">
        <link href="https://unpkg.com/maplibre-gl@^5.10.0/dist/maplibre-gl.css" rel="stylesheet" />

        <script src="https://unpkg.com/maplibre-gl@^5.10.0/dist/maplibre-gl.js"></script>
        <script type="module" src="static/main.js"></script>

        <script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8"></script>
        
    </head>
    <body>
        <div class="map" id="map">

        </div>
    </body>
</html>