<html>
    <head>
        <title>Economic Dashboard</title>
        <link rel="stylesheet" href="static/styles.css">
        <link href="https://unpkg.com/maplibre-gl@^5.10.0/dist/maplibre-gl.css" rel="stylesheet" />

        <script src="https://unpkg.com/maplibre-gl@^5.10.0/dist/maplibre-gl.js"></script>
        <script type="module" src="static/main.js"></script>

        <script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8"></script>
        
    </head>
    <body>
        <div id="map-container">
            <div class="mapplot" id="mapplot"></div>
            <div class="overlay" id="leaderboard">
                Hello
            </div>
            <div class="overlay" id="year">
                Hello
            </div>
            <div class="overlay" id="forecast">
                Hello
            </div>
            <div class="overlay" id="mapmode">
                <table>
                    <tr><td><button onclick="setDataset('gdp')">GDP</button><td><button onclick="setDataset('population')">Population</button></td><td><button onclick="setDataset('unemployment')">Unemployment</button></td><td><button onclick="setDataset('income')">Income</button></td><td><button onclick="setDataset('costOfLiving')">Cost of Living</button></td><td><button onclick="setDataset('growth')">Economic Growth</button></td></tr>
                    <tr><td><button>7</button></td><td><button>8</button></td><td><button>9</button></td><td><button>10</button></td><td><button>11</button></td><td><button>12</button></td></tr>
                </table>
            </div>
        </div>

    </body>
</html>